<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css_files/buyer_seller_detail_entry.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="main">

        <!-- -------------------------------------------------------------for seller -------------------------------------------------------- -->
        <div class="container">
            <form id="form" class="form">
                <h2>Seller Details</h2>
                <div class="form-control">
                    <label for="seller_full_name">Seller full name</label>
                    <input type="text" id="seller_full_name" placeholder="seller full name" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="seller_land_private_key">seller land private key</label>
                    <input type="text" id="seller_land_private_key" placeholder="seller land private key" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="seller_aadhar_no">Aadhar number</label>
                    <input type="number" id="seller_aadhar_no" placeholder="seller aadhar number" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_area">Land area</label>
                    <input type="text" id="land_area" placeholder="land area" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_coordinates">Land coordinates</label>
                    <input type="text" id="land_coordinates" placeholder="longitudinal 1" />
                    <input type="text" id="land_coordinates" placeholder="latitudinal 1" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_coordinates">Land coordinates</label>
                    <input type="text" id="land_coordinates" placeholder="longitudinal 2" />
                    <input type="text" id="land_coordinates" placeholder="latitudinal 2" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_coordinates">Land coordinates</label>
                    <input type="text" id="land_coordinates" placeholder="longitudinal 3" />
                    <input type="text" id="land_coordinates" placeholder="latitudinal 3" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_coordinates">Land coordinates</label>
                    <input type="text" id="land_coordinates" placeholder="longitudinal 4" />
                    <input type="text" id="land_coordinates" placeholder="latitudinal 4" />
                    <small>Error message</small>
                </div>
                <!-- <button type="submit">Submit</button> -->
            </form>
        </div>

        <!--------------------------------------------------------- for buyer ----------------------------------------------------->
        <div class="container">
            <form id="form" class="form">
                <h2>Buyers Details</h2>
                <div class="form-control">
                    <label for="buyer_full_name">Seller full name</label>
                    <input type="text" id="buyer_full_name" placeholder="buyer full name" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land&s_coordinate">seller land private key</label>
                    <input type="number" id="land&s_coordinate" placeholder="land&s_coordinate" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="buyers_aadhar_no">aadhar number</label>
                    <input type="number" id="buyers_aadhar_no" placeholder="buyers_aadhar_no" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="Current_address">current address</label>
                    <input type="text" id="Current_address" placeholder="Current_address" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="Pan_no">Pan no</label>
                    <input type="text" id="Pan_no" placeholder="Pan_no" />
                    <small>Error message</small>
                </div>
                
            </form>
        </div>

       
    </div>
    <button class="submit_button" type="submit">Submit</button>
    <!-- script -->
    <script src="../static/js_files/buyer_seller_detail_entry.js"></script>
</body>
</html>