<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css_files/buyer_seller_detail_entry.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form class="main" method="post" action="blockchain">
        {% csrf_token %}
        <!-- -------------------------------------------------------------for seller -------------------------------------------------------- -->
        <div class="container">
            <div id="form" class="form">
                <h2> <u> Seller Details </u> </h2>
                <div class="form-control">
                    <label for="seller_full_name">Seller name</label>
                    <input type="text" name="seller_name" placeholder="Seller's full name" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="seller_aadhar_no">seller aadhar no</label>
                    <input type="text" name="seller_aadhar_no" placeholder="Seller's land private key" />
                    <label for="land_id">Land's ID</label>
                    <input type="text" id="land_id" placeholder="Land ID" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_area">Land id</label>
                    <input type="text" name="land_id" placeholder="Land id" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_area">Land area</label>
                    <input type="text" id="land_area" placeholder="Land area" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_coordinates">old Land coordinates</label>
                    <input type="text" id="old_land_coordinates" placeholder="Longitude" />
                    <input type="text" id="old_land_coordinates" placeholder="Latitude" />
                    <small>Error message</small>
                </div>
                
                <div class="form-control">
                    <label for="price">agreed price</label>
                    <input type="number" id="price" placeholder="price" />
                    <small>Error message</small>
                </div>
                <!-- <button type="submit">Submit</button> -->
            </div>
        </div>

        <!--------------------------------------------------------- for buyer ----------------------------------------------------->
        <div class="container">
            <div id="form" class="form">
                <h2> <u> Buyer Details </u></h2>
                <div class="form-control">
                    <label for="buyer_full_name">Buyer name</label>
                    <input type="text" name="buyer_name" placeholder="Buyer full name" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_id">Land's ID</label>
                    <input type="text" id="land_id" placeholder="Land ID" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_coordinates">registration price</label>
                    <input type="text" name="registration_price" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_coordinates">new coordinates</label>
                    <input type="text" name="new_coordinates" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="price">agreed price</label>
                    <input type="number" id="price" placeholder="price" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_coordinates">new Land coordinates</label>
                    <input type="text" id="new_land_coordinates" placeholder="Longitude" />
                    <input type="text" id="new_land_coordinates" placeholder="Latitude" />
                    <small>Error message</small>
                </div>
            </div>
        </div>

        <button class="submit_button" type="submit" >Submit</button>
    </form>
{#    <button class="submit_button" type="submit" >Submit</button>#}
    <!-- script -->
    <script src="../static/js_files/buyer_seller_detail_entry.js"></script>
</body>
</html>