<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css_files/buyer_seller_detail_entry.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form class="main">

        <!-- -------------------------------------------------------------for seller -------------------------------------------------------- -->
        <div class="container">
            <div id="form" class="form">
                <h2> <u> Seller Details </u> </h2>
                <div class="form-control">
                    <label for="seller_full_name">Full name</label>
                    <input type="text" id="seller_full_name" placeholder="Seller's full name" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="seller_land_private_key">Land's private key</label>
                    <input type="text" id="seller_land_private_key" placeholder="Seller's land private key" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="seller_aadhar_no">Aadhar number</label>
                    <input type="text" id="seller_aadhar_no" placeholder="Seller's aadhar number" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_area">Land area</label>
                    <input type="text" id="land_area" placeholder="Land area" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land_coordinates">Land coordinates</label>
                    <input type="text" id="land_coordinates" placeholder="Longitude" />
                    <input type="text" id="land_coordinates" placeholder="Latitude" />
                    <small>Error message</small>
                </div>

                <!-- <button type="submit">Submit</button> -->
            </div>
        </div>

        <!--------------------------------------------------------- for buyer ----------------------------------------------------->
        <div class="container">
            <div id="form" class="form">
                <h2> <u> Buyer Details </u></h2>
                <div class="form-control">
                    <label for="buyer_full_name">Full name</label>
                    <input type="text" id="buyer_full_name" placeholder="Buyer full name" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="land&s_coordinate">Private key of bought Land</label>
                    <input type="number" id="land&s_coordinate" placeholder="land&s_coordinate" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="buyers_aadhar_no">Aadhar number</label>
                    <input type="text" id="buyers_aadhar_no" placeholder="Buyers_aadhar_no" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="Current_address">Current address</label>
                    <input type="text" id="Current_address" placeholder="Current_address" />
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="Pan_no">Pan no</label>
                    <input type="text" id="Pan_no" placeholder="Pan_no" />
                    <small>Error message</small>
                </div>

            </div>
        </div>


    </form>
    <button class="submit_button" type="submit">Submit</button>
    <!-- script -->
    <script src="../static/js_files/buyer_seller_detail_entry.js"></script>
</body>
</html>